body {
  margin: 0;
  background-color: #EEE;
  font: 13px/1.5 sans-serif;
}
a {
  color: #326CA6;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #000;
}
#header {
  background-color: #036;
  color: #FFF;
}
h1 {
  margin: 0;
  padding: 16px 0 14px 36px;
  background: url("jira-logo.png") 14px 10px no-repeat;
  font-size: 18px;
  line-height: 1;
}
h2 {
  margin: -7px 0 2px;
  font-size: 16px;
  font-weight: normal;
}
h3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
  color: #326CA6;
}
#header ul, #toolbar ul {
  padding: 0 8px;
  overflow: hidden;
  list-style: none;
}
#header li, #toolbar li {
  float: left;
  padding: 4px 9px;
  cursor: pointer;
}
.dd {
  margin-left: 5px;
  font-size: 12px;
}
h2 .dd {
  position: relative;
  top: -1px;
}
#preferences {
  position: absolute;
  top: -2px;
  right: 0;
}
#navigation {
  margin: 0;
  background-color: #326CA6;
}
#navigation .active {
  background-color: #EEE;
  color: #000;
}
#content {
  margin: 16px;
  border: 1px solid #BBB;
  border-radius: 5px;
  overflow: hidden;
  background-color: #FFF;
}
form {
  border-bottom: 1px solid #BBB;
  padding: 16px;
  background-color: #FFF;
}
input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #BBB;
  border-radius: 3px;
  padding: 3px 8px 1px;
  padding-left: 28px;
  background: url("search-glass.png") 8px 8px no-repeat;
  font-family: inherit;
  line-height: 1.75;
  font-size: 16px;
}
#adv {
  position: absolute;
  top: 102px;
  right: 34px;
  text-decoration: underline;
  font-size: 12px;
}
#results {
  float: left;
  margin: 0 -100% 0 0;
  width: 100%;
}
#details {
  display: none;
  float: left;
  box-sizing: border-box;
  margin: 0 0 0 264px;
  border-left: 1px solid #BBB;
  padding: 103px 280px 0 16px;
  width: 100%;
  min-height: 1274px;
  background-color: #FFF;
}
.details #details {
  display: block;
}
#stalker {
  position: absolute;
  top: 182px;
  right: 17px;
  left: 282px;
  padding: 16px 16px 8px;
  background-color: #FFF;
}
#stalker.detached {
  position: fixed;
  top: 0;
}
#issueinfo {
  color: #777;
  margin: -2px 0 -2px;
}
#issueinfo img {
  float: left;
  margin: 1px 7px 0 0;
}
#toolbar {
  overflow: hidden;
}
#toolbar ul {
  margin: 7px 12px 0 0;
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 0;
  float: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F3F3F3));
  background-repeat: repeat-x;
}
#toolbar li {
  border-left: 1px solid #BBB;
  padding: 4px 9px;
}
#toolbar li:first-child {
  border-width: 0;
}
table {
  margin: 12px 0 8px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
th {
  padding: 0 8px 2px;
  color: #777;
  font-weight: normal;
}
td {
  border: 1px solid #BBB;
  border-width: 1px 0;
  padding: 6px 8px;
  cursor: pointer;
}
td:first-child > a {
  display: block;
  position: relative;
  margin: -6px -8px;
  border-left: 4px solid green;
  padding: 18px 8px 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td:first-child > a:hover {
  color: #326CA6;
}
.details td:first-child > a {
  width: 249px;
}
.key {
  position: absolute;
  top: 6px;
  font-size: 11px;
  color: #777;
}
.details #content {
  background-color: #F8F8F8;
}
.details tr:not(.active) a {
  color: #777;
}
.details tr:not(.active) .key {
  color: #999;
}
.details tr:not(.active) a:hover {
  color: #555;
}
.details tr:not(.active) a:hover .key {
  color: #777;
}
tr.selected td {
  background-color: #EAF1FD;
}
.details tr.active > td:first-child > a {
  z-index: 1;
  background-color: #FFF;
  font-weight: bold;
}
#footer {
  margin: -8px 0 48px;
  color: #BBB;
  text-align: center;
  font-size: 12px;
}
#footer a {
  color: #999;
  text-decoration: underline;
}
